{% extends "base.html" %}

{% block contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funat S.A.S - Tienda Naturista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></head>
<body>
    {% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="#">Funat S.A.S</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CRUDS
                    </a>
                    <ul class="dropdown-menu">
                      <li class="nav-item active ">
                        <a class="nav-link text-dark" href="{% url 'compras' %}">Home </a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link text-dark" href="{% url 'compras' %}">Pqrs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'compras' %}">Compras</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'productos' %}">Productos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'item_list' %}">Proveedores</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Ventas</a>
                      </li>
                      
                    </ul>

                </li>
                {% if not request.user.is_authenticated %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}" >Entrar</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}" >Registro</a>
                          </li>
                      {% else %}
                          <li class="nav-item">
                              <form action="{% url 'logout' %}" method="POST">
                                  {% csrf_token %}
                                  <button class="btn btn-outline-light"> salir </button>
                              </form>
                          </li>
                      {% endif %}  
            </ul>
            
        </div>
    </div>
</nav>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido a Funat S.A.S</h1>
            <p class="lead">Tu tienda naturista de confianza</p>
            <hr class="my-4">
            <p>Ofrecemos una amplia gama de productos naturales y orgánicos para cuidar tu salud y bienestar.</p>
            <p class="lead">
                <span> 
                    <a class="btn btn-primary btn-lg" href="https://funat.co/?utm_campaign&utm_term&utm_source=adwords&utm_medium=ppc&ctf_src=x&ctf_net=adwords&ctf_mt&ctf_grp&ctf_ver=1&ctf_cam=20802150455&ctf_kw&ctf_acc=455-874-5402&ctf_ad&ctf_tgt&gad_source=1&gclid=EAIaIQobChMI59WQ-bDWhAMVkpxaBR2x0QAOEAAYASAAEgItZPD_BwE" role="button">Explorar productos</a>
                </span>
            </p>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/fybofort.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/aloe.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/calendula.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/colageno.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/digestar.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/eucalipto.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/ganoderma.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/hipatodren.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/proteina_best.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/purante.jpg' %}" class="card-img-top" alt="Catálogo de productos">
                        <button class="btn btn-success">Ver mas</button>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row">
            <!-- Contenido de las columnas -->
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Funat S.A.S - Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script></html>
{% endblock %}
