<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compras</title>
</head>
<body>
    <h1>Hola desde compras</h1>

    <form action="{% url 'registrarCompra' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Save</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for c in compras %}
            <tr>
                <td>{{ c.producto}}</td>
                <td>{{ c.cantidad}}</td>
                <td>{{ c.total}}</td>
                <td><a href="{% url 'detalleCompra' c.id %}">Ver</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>