{% extends 'baseAccounts.html' %}

{% block tittle %} Inicio de sesion {% endblock %}

{% block content %}
<div id="contenido-pdf">
    <div>
        <div class="container mt-4">
            <h1 class="display-4 text-center mb-4">Productos más vendidos mes: {{ mes }}</h1>
            <p>Fecha del reporte: {{ fecha }}</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad Vendida</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                        <tr>
                            <td>{{ venta.producto__nombre }}</td>
                            <td>{{ venta.total_ventas }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <div>
        <button id="btn-generate-pdf" class="btn btn-warning">Generar PDF</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>


    <script>
        document.getElementById('btn-generate-pdf').addEventListener('click', function() {
        const doc = new jsPDF();

        const htmlContent = document.getElementById('contenido-pdf').innerHTML;
        doc.fromHTML(htmlContent, 15, 15); // Puedes ajustar las coordenadas x e y según tus necesidades

        doc.save('reporte_productos_mas_vendidos.pdf');
        });

    </script>

{% endblock %}

    