{% extends 'baseAccounts.html' %}

{% block tittle %} Recibo {% endblock %}

{% block content %}
    <div class="container">
    <h1>Productos mas vendidos</h1>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad vendida</th>
            </tr>
        </thead>
        <tbody>
            {% for venta  in ventas %}
            <tr>
                <td>{{ venta.producto__nombre }}</td>
                <td>{{ venta.total_ventas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div>
</div>
    </div>
{% endblock %}