{% extends 'baseAccounts.html' %}

{% block title %} Recibo {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="mb-4">
            <h1 class="display-4">Detalles de la Venta</h1>
            <h2 class="text-secondary">Cliente: {{ venta.cliente }}</h2>
            <h2 class="text-secondary">Vendedor(a): {{ venta.vendedor }}</h2>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle_venta in detalles_venta %}
                    <tr>
                        <td>{{ detalle_venta.producto }}</td>
                        <td>{{ detalle_venta.cantidad }}</td>
                        <td>${{ detalle_venta.subtotal }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <h4>Total venta: ${{ venta.total }}</h4>
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-warning" href="{% url 'generar_pdf' venta.pk %}">Recibo en PDF</a>
    </div>
    <div>
        <a class="text-success btn btn-link btn-lg" href="{% url 'venta' %}">Registrar nueva venta</a>
        <a class="text-success btn btn-link btn-lg" href="{% url 'lista_ventas' %}">Ir a lista de ventas</a>
    </div>
{% endblock %}
