{% extends 'baseAccounts.html' %}

{% block tittle %} Ventas {% endblock %}

{% block content %}
    <div class="container">
    <h1>Registrar Venta</h1>

    <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">

        {{ venta_form.as_p }}
    </div>
    <h2>Productos</h2>
    {{ detalle_venta_formset.management_form }}
    <div id="detalle-venta">
        {% for detalle_form in detalle_venta_formset %}
            <div class="form-group">
                {{ detalle_form.as_p }}
            </div>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-light" id="add-detalle-venta">Agregar Producto</button>
    <br><br>
    <button type="submit" class="btn btn-success">Registrar Venta</button>
</form>


    <script>
        document.getElementById('add-detalle-venta').onclick = function() {
            var form_idx = $('#id_detalleventa_set-TOTAL_FORMS').val();
            $('#detalle-venta').append($('#empty_detalle-venta').html().replace(/__prefix__/g, form_idx));
            $('#id_detalleventa_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        }
    </script>
    <div id="empty_detalle-venta" style="display:none;">
        {{ detalle_venta_formset.empty_form.as_p }}
    </div>
    </div>
{% endblock %}