{% extends 'baseAccounts.html' %}

{% block tittle %} Bloc {% endblock %}

{% block content %}   

<div class="container py-4">
  <a href="{% url 'item_create' %}" class="btn btn-secondary">Crear nuevo proveedor</a>

<h1>Proveedores</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nit</th>
                <th>telefono</th>
                <th>correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.pk }}</td>
                    <td><a href="{% url 'item_detail' item.pk %}">{{ item.nombre }}</a></td>
                    <td>{{ item.nit }}</td>
                    <td>{{ item.telefono }}</td>
                    <td>{{ item.correo }}</td>
                    <td>
                        <a href="{% url 'item_update' item.pk %}" class="btn btn-info">Editar</a> |
                        <form style="display:inline-block;" action="{% url 'item_delete' item.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
    

{% endblock %}