{% extends "baseForms.html" %}

{% block namePage %} Gestion de Compras {% endblock %}

{% block title %} Registrar Compras {% endblock %}

{% block form %}
{{ error }}
<form action="{% url 'registrarCompra' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-outline-success">Guardar</button>
</form>
{% endblock %}

{% block table_title %} compras {% endblock %}

{% block table %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>fecha de compra</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in compras %}
        <tr>
            <td>{{ c.producto}}</td>
            <td>{{ c.cantidad}}</td>
            <td>{{ c.precio_unitario}}</td>
            <td>{{ c.fecha_compra}}</td>
            <td>{{ c.total}}</td>
            <td><a class="btn btn-info" href="{% url 'detalleCompra' c.id %}">Ver</a>
            <a class="btn btn-danger" href="{% url 'eliminarCompra' c.id %}" onclick="return confirm('¿Está seguro de querer eliminar el registro?')">eliminar</a></td>

        </tr>
    {% endfor %}
    </tbody>
</table>



<a href="{% url 'reporteCompras' %}" class="btn btn-warning">Reporte de Compras por Proveedor</a>
{% endblock %}
