{% extends 'baseAccounts.html' %}

{% block title %} Compras por Proveedor {% endblock %}

{% block content %}
<div id="contenido-pdf">
<div class="container">
    <h1 class="my-4">Compras por Proveedor</h1>
    <p>Fecha de reporte: {{ fecha }}</p>
    {% for proveedor, compras in compras_por_proveedor.items %}
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">{{ proveedor }}</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for compra in compras %}
                        <li class="list-group-item">
                            <span class="fw-bold">{{ compra.producto.nombre }}</span> - {{ compra.cantidad }} unidades
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
</div>
    <div>
        <button id="btn-generate-pdf" class="btn btn-warning">Generar PDF</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>


    <script>
        document.getElementById('btn-generate-pdf').addEventListener('click', function() {
        const doc = new jsPDF();

        const htmlContent = document.getElementById('contenido-pdf').innerHTML;
        doc.fromHTML(htmlContent, 15, 15); // Puedes ajustar las coordenadas x e y según tus necesidades

        doc.save('reporte_compras_por_proveedor.pdf');
        });

    </script>

{% endblock %}
