{% extends 'baseAccounts.html' %}

{% block title %} Gestion de pqrs {% endblock %}

{% block content %}
    <div class="container">
        <h1> Gestion de pqrs </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Asunto</th>
                    <th>Detalle</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Fecha respuesta</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pqrs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.fecha }}</td>
                        <td>{{ p.asunto }}</td>
                        <td>{{ p.detalle }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.apellido }}</td>
                        <td>{{ p.correo }}</td>
                        <td>{{ p.estado }}</td>
                        <td>{{ p.fecha_respuesta }}</td>
                        <td><a href="{% url 'email' p.id %}" class="btn btn-primary">Respuesta Cliente</a></td>
                        <td><a href="eliminarPqrs/{{ p.id }}" class="btn btn-danger btnEliminar">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if pqrs.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pqrs.previous_page_number }}">Anterior</a>
                    </li>
                {% endif %}
                {% for i in pqrs.paginator.page_range %}
                    <li class="page-item {% if pqrs.number == i %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if pqrs.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pqrs.next_page_number }}">Siguiente</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
