{% extends "baseForms.html" %}

{% block namePage %} Gestion de Productos {% endblock %}

{% block title %} Registrar Productos {% endblock %}

{% block form %}
    <form action="registrarProducto/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <input type="file" id="imagen" name="imagen" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="150" required>
        </div>
        <div class="form-group">
            <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control" placeholder="Descripcion"  maxlength="250" required>
        </div>

        <div class="form-group">
            <input type="number" id="txtStock_Disponible" name="txtStock_Disponible" class="form-control" placeholder="Stock Disponible" min="0" required>
        </div>                

        <div class="form-group">
            <select id="txtProveedor" name="txtProveedor" class="form-control" required>
                <option value="#" disabled selected>Selecciona un proveedor</option>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                {% endfor %}
            </select>
        </div>                  
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
        </div>
    </form>
{% endblock %}

{% block table_title %} Productos {% endblock %}

{% block table %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Img</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock_Disponible</th>
                <th>Fecha_Creacion</th>
                <th>Proveedor</th>
                <th colspan="2">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in productos  %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% if p.imagen %}
                <td><img src="{{ p.imagen.url }}" alt="Imagen del producto" width="85"></td>
                {% else %}
                <td>No hay imagen</td>
                {% endif %}
                <td>{{p.nombre}}</td>
                <td>{{p.descripcion}}</td>
                <td>{{p.precio}}</td>
                <td>{{p.stock_disponible}}</td>
                <td>{{p.fecha_creacion}}</td>
                <td>{{p.proveedor}}</td>
                <td><a href="editarProducto/{{p.id}}" class="btn btn-info">Editar</a></td>
                <td><a href="eliminarProducto/{{p.id}}" class="btn btn-danger btnEliminar">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}